html {
  background-color: #13131a !important;
}

:root {
  --vp-c-bg: #13131a;
  --vp-c-bg-soft: #1c1c26;
  --vp-c-bg-mute: #22222e;
  --vp-c-bg-alt: #13131a;
  --vp-sidebar-bg-color: #13131a;
  --vp-nav-bg-color: #13131a;
  --vp-c-divider: #2a2a38;
  --vp-c-gutter: #0d0d12;
  --vp-home-hero-name-color: #7c8cff;
}
