html {
  background-color: #0a0a0f !important;
}

:root {
  --vp-c-bg: #0a0a0f;
  --vp-c-bg-soft: #111118;
  --vp-c-bg-mute: #16161e;
  --vp-c-bg-alt: #0a0a0f;
  --vp-sidebar-bg-color: #0a0a0f;
  --vp-nav-bg-color: #0a0a0f;
  --vp-c-divider: #1e1e28;
  --vp-c-gutter: #060609;
  --vp-home-hero-name-color: #7c8cff;
}
